body{
    background-color: rgb(255, 255, 255);
    font-family: 'Lora', serif;
    margin: 0px;
}
.navbar{
    background-color: black;
    padding: 5px;
}
.container{
    display: flex;
    padding: 1.5em;
    align-items: center;
    justify-content:center;
    margin-right: 10%;
}
a:visited{
    color: inherit;
}
.navbar .logo{
    display: flex;
    position: static;
}
.navbar .logo a:hover{
    background-color: inherit;
    font-size: inherit;
}
.navbar ul{
    list-style: none;
    margin: 0%;
    overflow: hidden;
}
.navbar ul a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    color: rgb(228, 228, 131);
}
.navbar li{
    float: left;
}
main{
    margin: 20px;
    padding: 15px;
}
footer{
    margin: auto;
    border: 2px;
    padding: 15px;
    background-color: black;
    font-size: 15px;
    color: aliceblue;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: rgb(228, 228, 131);
    font-size: 1.1em;
}